* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
body {
  font-family: "TT Lakes";
  font-size: 14px;
  font-weight: 500;
  color: #1B1C21;
}

.header__top {
  padding: 18px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  border-bottom: 1px solid #D9FFF5;
}

.wrapper {
  display: flex;
  align-items: center;
}
.wrapper__inner{
  display: flex;
  align-items: center;
}
.wrapper > .button:last-child{
  margin-right: 0;
}

.header__menu-button {
  margin-right: 16px;
}

.button {
  border: none;
  cursor: pointer;
  font-family: inherit;
  background-color: transparent;
}
.button--with-icon {
  background-color: #FF3E79;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}
/* .button {
  background-color: #FF3E79;
  display: flex;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 16px;
} */
.button:hover{
  opacity: 0.8;
}

.application {
  position: relative;
  margin-right: 20px;
}
.line {
  height: 32px;
  border-left: 2px solid #EAEAEA;
  margin-right: 20px;
}
.logo-line {
  display: none;
}
.content__wrapper {
  padding: 24px 16px 35px;
  max-width: 1120px;
  margin: 0 auto;
}
.content {
  background-color:  #F8F8F8;
}

.header__wrapper {
  background-color:  #FFFFFF;
}

.container-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner-buttons {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 380px;
}
.button-text {
  font-size: 16px;
  font-weight: 500;
  color: #1B1C21;
}
.title {
  color: #1B1C21;
  font-size: 28px;
}
.title--active::before {
  content: "";
  border-left: 3px solid #41F6D7; 
  height: 1.5em;
  border-radius: 2px;
  position: relative;
  right: 16px;
}



.menu-side {
  display: flex;
  overflow-x: auto;
  margin: 24px 0 24px;
  align-items: center;
}
.menu-side__link {
  margin-right: 15px;
  white-space: nowrap;
  margin-bottom: 10px;
  color: #7E7E82;
  font-size: 16px;
}
.menu-side__link--active{
  border: 2px solid #B8FFEC;
  padding: 8px 16px;
  border-radius: 6px;
  
}

.wrapper-content {
  display: flex;
  justify-content: space-between;
}
.wrapper-content__text {
  width: 50%;
  margin-right: 45px;
  margin-bottom: 16px;

}
.menu-side-title {
  display: block;
  padding-bottom: 24px;
}
.content__text {
  overflow: hidden;
  height: 90px;
  margin-bottom: 24px;
  font-weight: 400;
}
.status {
  margin-right: 0;
}

.wrapper-content__button {
  padding: 0;
  border: none;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
  color: #1B1C21;
  font-size: 16px;
}

.content__img {
  width: 50%; 
  height: auto;
  
}
.check-icon {
  margin-right: 16px;
}

/* menu-styles*/
.menu {
  width: 320px;
  background-color: #FFFFFF;
  padding: 19px 24px 32px 24px;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}
.menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.search {
  margin-right: 0;
}

.nav {
  margin-bottom: 268px;
}
.nav__link {
  display: block;
  margin-bottom: 32px;
  font-size: 16px;
  color: #1B1C21;
}
.nav__link:last-child {
  margin-bottom: 0;
}
.nav__link--active {
  color: #7E7E82;
  position: relative;
}
.nav__link--active::before {
  content: "";
  border-left: 4px solid #41F6D7;
  height: 32px;
  border-radius: 2px;
  position: absolute;
  left: -24px;
  bottom: -5px;
}
.menu__footer {
}
.wrapper-inner {
  display: flex;
  margin-bottom: 16px;
}

.mail-link {
  color: #1B1C21;
  font-size: 16px;
  margin-bottom: 16px;
  display: block;
}
.phone-link {
  display: block;
  color: #1B1C21;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}
.lang-box {
}
.lang-box__elem {
  color: #1B1C21;
  margin-right: 7px;
}
.lang-box__elem--current {
  color: #7E7E82;
}

@media (min-width: 1120px) {
  .header__wrapper {
    display: none;
  }
  .inner-buttons {
    display: flex;
  }
  .content__wrapper {
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 42px;
  }
}

@media (min-width: 767.98px) {
  .content__wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }
  .title--active::before {
    right: 24px;
  }
}

@media (max-width: 767.98px) {
  .wrapper-content {
    flex-wrap: wrap;
    justify-content: center;
  }

  .wrapper-content__text {
    margin-right: 0;
  }
  .content__img, .wrapper-content__text {
    width: 100%;
  }
}
@media (max-width: 538px){
  .wrapper__inner {
    display: none;
  }

}
@media (min-width: 538px) and (max-width: 1119.98px) {
  .logo-line {
    display: inline-block;
  }
}